@model IEnumerable<Item>
@using BlingTree.Models.ENUM
@{
    ViewData["Title"] = "Flowers";
    string category = Context.Request.Query["category"];
}
<!-- Main -->
<section id="main" class="wrapper style2">
    <div class="title">Our Collections</div>
    <div class="container">
        <div class="row gtr-150">
            <div class="col-2 col-12-medium">
                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="box">
                        <header>
                            <h2>Our Categories</h2>
                        </header>
                        <ul class="style3">
                            @foreach (Category value in Enum.GetValues(typeof(Category)))
                            {
                                <li><a href="/Home/Flowers?page=1&category=@(Convert.ToInt32(value))">@value</a></li>
                            }
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-10 col-12-medium">
                <!-- Features -->
                <section id="features">
                    <div class="uk-grid-column-small uk-grid-row-large uk-grid-match uk-child-width-1-3@s uk-child-width-1-3@s uk-text-center" uk-grid>
                        @foreach (var item in Model)
                        {
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                                    <img src="~/css/images/@item?.Image?[0]" alt="Flowers" height="100" />
                                    <h3 class="uk-card-title">@item.Name</h3>
                                    <p class="uk-card-title">@item.Price</p>
                                    <a asp-area="" asp-controller="Home" asp-action="FlowerDetails" asp-route-id="@item.ID" class="button style1 small">More details</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <ul class="uk-pagination uk-flex-center" style="margin-top:80px;">
        <li style="margin-right:80px;"><a href="/Home/Flowers?category=@category&page=2"><span uk-pagination-previous></span> Previous</a></li>
        <li><a href="/Home/Flowers?category=@category&page=2">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    </ul>
</section>