@model IEnumerable<Item>
@{
    ViewData["Title"] = "Flowers";
}
<h1>@ViewData["Title"]</h1>

<div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
    @foreach (var item in Model)
    {
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                <img src="@item?.Image?[0]" alt="Flowers" height="300" />
                <h3 class="uk-card-title">@item.Name</h3>
                <p class="uk-card-title">@item.Price</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>
